matplotlib==3.3.3
requests~=2.25.1
Pillow~=8.2.0
numpy>=1.21.5
pip~=21.0.1
setuptools~=54.2.0
six~=1.15.0
certifi~=2020.12.5
chardet~=4.0.0
urllib3~=1.26.4
idna~=2.10
python-dotenv>=0.19.2
torch>=1.10.1+cu113